.about-section {
    margin-top: rem;
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  min-height: 70vh;
}


.about-content {
margin-top: 3rem;
  width: 65%;
  z-index: 2;
  position: relative;
  background: transparent;
  opacity: 0.9;
}

.about-us .paragraph {
  padding: 0.2rem 5rem;
  display: block;
  margin-bottom: .6rem;
 
}

.slanted-bg {
  width: 35%;
  height: 400px;
  background-color: var(--primary-color);
  background-image: url('../assets/images/new2.png');
  background-repeat: no-repeat;   /* no tiling */
  background-size: cover;         /* fills the div completely */
  background-position: center;    /* center the image */
  clip-path: polygon(0 0, 0.1% 0, 100% 100%, 0 100%);
  z-index: -9999;
  margin-top: 0;
}


.section-head{
    color: rgb(78, 77, 77);
}


