:root{
  --footer-bg: #1c1c1c;       /* dark green from example */
  --accent-yellow: #d14830;   /* bright yellow for logo & social buttons */
  --muted-white: rgba(255,255,255,0.9);
  --muted-small: rgba(255,255,255,0.8);
  --divider: rgba(255,255,255,0.06);
  --container-max: 1200px;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width:48%;
}

.contact-form input, textarea{
    border: 2px solid #747474;
    border-radius: 3px;
    outline: none;
}

.google-map{
    width: 48%;

}

.contact-form input{
    height: 3rem;
    margin-bottom: 2.8rem;
    text-indent: 4px;
}

.contact-form input[type = submit]{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-family:Manrope;
    font-size: 1rem;
    color: #fff;
}

.contact-form input[type = submit]:hover{
    opacity: .8;
}

textarea{
    margin-bottom: 2.8rem;
    height: 99px;
    text-indent: 4px;
}

label{
    margin-bottom: 4px;
    opacity: .8;
}

.contact-note{
    width: 60%;
    opacity: .8;
    margin-bottom: 5rem;
}


@media all and (max-width:1024px){
  .navigation{
    display: none;
  }

  .cta-btn{
    display: none;
  }

  .contact-section{
    flex-direction: column;
  }

  .contact-form, .google-map{
    width: 96%;
  }
}