@keyframes appear{
    from{
        opacity: .5;
        scale: 0.7;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear2{
    from{
        opacity: .5;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear4{
    from{
        opacity: .5;
        transform: translateX(100px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear3{
    from{
        opacity: .5;
        scale: 0.8;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes reveal{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(111%);
    }
}

@keyframes base{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}

.section-head{
    color: #d14830;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 5rem;
    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

.mission-card{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.patner-container{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.team-container{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.contact-form{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.google-map{
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.each-service-card{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}


.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(57, 129, 21, 0.8);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.remove{
    display: none;
}

.cursor::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -9px;
    left: -9px;
    animation: cursorAnim2 .5s infinite alternate;
}

 @keyframes cursorAnim{
    from{
        transform: scale(1);
    }to{
        transform: scale(.7);
    }
}

@keyframes cursorAnim2{
    from{
        transform: scale(1);
    }to{
        transform: scale(.4);
    }
} 

.expand{
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #2a6b1a;
}

@keyframes cursorAnim3{
   0%{
        transform: scale(1);
   }

   50%{
    transform: scale(3);
   }
}