:root {
  --primary-color: #636b2f;
}

.header {
  width: 100vw;
  background: transparent;
  color: white;
  padding: 0.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: .2rem 1.5rem;
  border-radius: 10px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-weight: 300;
  transition: color 0.3s ease;
  font-size: .85rem;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--primary-color);
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.cta-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 0.45rem 1.2rem;
  border-radius: 6px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}


.hamburger{
    position: relative;
    width:40px;
    cursor: pointer;
    border-radius: 20px;
    background: none;
    border: none;
    float: right;
    z-index: 10000;
    display:none;
}

.hamburger .bar, .hamburger::after, .hamburger::before{ 
    content:'';
    display: block;
    width:100%;
    height: 3px;
    background-color:white;
    margin: 6px 0px;
    transition: 0.4s;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 7px);
    background-color: white;
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: white;
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display:none;
    width:500%;
    position: fixed;
    top: 0;
    left:100%; 
    margin: 0;
    z-index:98;
    background-color: var(--primary-color); 
    margin-left:50%;
    min-height:100vh;
    padding:15%;
    padding-top:30%;
    transition: 0.4s ease;
}

.mobile-nav.is-active{
    left: 0;
}
.mobile-nav button{
    position: absolute;
    display: block;
    text-align: center;
    margin-bottom:16px;
    width: fit-content;
    padding: 12px 16px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    margin-top:30px;
    text-align: center;
}

.mobile-nav button:nth-child(1){
  top: 50px;
}

.mobile-nav button:nth-child(2){
  top: 100px;
}

.mobile-nav button:nth-child(3){
  top: 150px;
}

.mobile-nav button:nth-child(4){
  top: 200px;
}

.mobile-nav a{
    text-decoration: none;
    color: white;
    text-align: center;
}

@media all and (max-width : 1024px){
  .hamburger{
    display: block;
  }

  .mobile-nav{
    display: block;
  }
}