.hero {
  background: linear-gradient(#000, rgba(0, 0, 0, 0.5)),
              url('../assets/images/engbg2.jpg');
  height: 88.1vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding-top: 14rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-sizing: border-box;
  transition: .5s ease-in-out;
}

.short-intro {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 1000;
  padding-bottom: 3.5rem;
  display: inline-block;
 
}

.special {
  display: block;
  margin-top: 0rem;
  font-size: 4rem;
}

.explore-btn a {
  font-weight: 1rem;
  text-decoration: none;
  color: #fff;
  margin: rem;
  background-color: var(--primary-color);
  padding: .8rem 4rem;
  border-radius: .5rem;
  display: inline-block;
}

.explore-btn {
  transition: .2s ease-in-out;
}

.explore-btn:hover {
  opacity: .8;
}

.text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(42),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.top-text {
  font-size: .8rem;
  text-transform: uppercase;
  opacity: .6;
  margin-bottom: .8rem;
  margin-top: 0; /* removed original 100px to push text up */
}
