.team-container{
    padding: .5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
  position: relative;
  scroll-snap-align: start;
  list-style: none;
  background-color: #e8e9eb;
  background-image: url("../assets/images/new2.png");
  background-repeat: no-repeat;          
  background-size: 450px 450px;     
  background-position: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 25rem;
  height: 350px;
  cursor: pointer;
  line-height: 2rem;
  padding-bottom: 0.8rem;
  overflow: hidden;
}

@media all and (max-width: 1374px){
    .card{
        width: 20rem;
    }
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(48, 48, 48);
}

.card .img{
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.mail a{
    opacity: .8;
    color: #000;
}
.card h2{
    margin-top: 2rem;
}


@media all and (max-width:1163px){
  .team-container{
    flex-direction: column;;
  }

  .team-container .card{
    margin-bottom: 2rem;
    width: 80vw;
  }
}