.team-container{
    padding: .5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    scroll-snap-align: start;
    list-style: none;
    background: #e8e9eb;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 25rem;
    height: 350px;
    cursor: pointer;
    line-height: 2rem;
    padding-bottom:.8rem;
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #312e2e;
}

.card .img{
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.mail a{
    opacity: .8;
    color: #000;
}
.card h2{
    margin-top: 2rem;
}