@font-face {
    font-family:Proxima Nova;
    src: url(assets/fonts/Proxima-Nova-Demo-Font/Demo_Fonts/Fontspring-DEMO-proximanova-medium.otf);
  }

  :root{
  --footer-bg: #1c1c1c;       /* dark green from example */
  --accent-yellow: #d14830;   /* bright yellow for logo & social buttons */
  --muted-white: rgba(255,255,255,0.9);
  --muted-small: rgba(255,255,255,0.8);
  --divider: rgba(255,255,255,0.06);
  --container-max: 1200px;
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Proxima Nova;
}

html{
  scroll-behavior: smooth;
}